body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    height: 100vh;
    margin: 0 auto;
    padding: 0;
}

.container {
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}

.form {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

input[type="text"], input[type="file"], button {
    margin: 5px;
    padding: 10px;
}

.ticket {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}


.ticketContainer .card {
    width: 25rem;
    height: 13rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    background-color: green;
    overflow: hidden;
    text-align: center;
}

.ticket img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.ticket p {
    width: 30%;
}

.ticket-footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.ticket-footer p{
    font-size: 11px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.buttons-container{
    display: flex;
    justify-content: space-evenly;
}