body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    height: 100vh;
    margin: 0 auto;
    padding: 0;
}

.container {
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.form {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

input[type="text"], input[type="file"], button {
    margin: 5px;
    padding: 10px;
}

.ticket {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.ticketContainer {
    margin: 0 2rem;
}


.ticketContainer .card {
    width: 25rem;
    height: 13rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    background-color: green;
    overflow: hidden;
    text-align: center;
}

.ticket img {
    height: 80px;
}

.ticket p {
    width: 30%;
}

.ticket-footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.ticket-footer p{
    font-size: 11px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.buttons-container{
    display: flex;
    justify-content: space-evenly;
}

.buttons-container button{
    display: none;
}

@media screen and (max-width: 600px) {
    body{
        height: 120vh;
    }
    .container {
        width: 100%;
    }
    .ticketContainer {
        margin: 1rem 0;
    }
    .ticketContainer .card {
        width: 18rem;
    }
    .ticket p {
        width: 40%;
    }
    .ticket img {
        height: 60px;
    }
    .ticket-footer p{
        font-size: 10px;
    }
    
}